replicaCount: 1

image:
  repository: devops-challenge-image
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80
  name: devops-challenge-svc

podSecurity:
  runAsUser: 1001
  runAsNonRoot: true
  readOnlyRootFilesystem: true
  capabilities:
    add:
      - NET_BIND_SERVICE
