name: CI

on:
  push:
    branches: [ main, master ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install linting deps
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Lint Python (flake8)
        run: |
          flake8 app || true

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Helm lint
        run: |
          helm lint helm || true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.6.0"

      - name: Terraform init & validate
        working-directory: terraform
        run: |
          terraform init -input=false
          terraform validate || true

      - name: Build Docker image
        run: |
          docker build -t devops-challenge-image:ci .
